<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge"	http-equiv="X-UA-Compatible">
    <link href="catalogue.scss" rel="stylesheet">
    <link href="../../styles.scss" rel="stylesheet">
    <link href="../../js/csi.min.js" rel="script">
    <title>Catalogue</title>
</head>
<body>
<a href="../navbar/navbar.html">Navbar</a>
<div class='content-area'>
</div>
</body>
</html>
