<div class = 'body'>
  <div class = 'detail-card'>
    <div class = 'product-area'>
      <div class = 'product-image'>
        <img src = 'assets/book-cover-12.jpg' alt = 'Cover 2'>
      </div>
      <div class = 'product-body'>
        <div class = 'product-title'>No Place Like Here</div>
        <div class = 'product-subtitle'>Christina June</div>
        <div class = 'misc-area'>Top 10% seller</div>
        <div class = 'product-rating-area'>
          Ratings: <span class = 'product-rating'>4.5 / 5</span>
          <span class = 'product-reviews'>(112 Reviews)</span>
        </div>
        <div class = 'product-description'>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Tellus cras adipiscing enim eu turpis egestas pretium. Velit laoreet id donec ultrices tincidunt
          arcu non sodales neque. Ullamcorper dignissim cras tincidunt lobortis feugiat. Lobortis elementum nibh tellus
          molestie nunc. Faucibus nisl tincidunt eget nullam non nisi est. Laoreet suspendisse interdum consectetur
          libero id faucibus.
        </div>
        <div class = 'price'>
          US $ 21.99
        </div>
      </div>
    </div>
    <div class = 'review-area'>
      <div class = 'review-title'>Reviews</div>
      <div class = 'list-partition'></div>

      <div class = 'review-section'>
        <div class = 'review-header'>
          <div class = 'review'>4.5 / 5</div>
        </div>

        <div class = 'center-line'></div>

        <app-review-list></app-review-list>
      </div>

    </div>
  </div>
</div>
