<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book Card</title>
    <link rel="stylesheet" href="/styles.scss">
    <link rel="stylesheet" href="book-card.scss">
</head>
<body>
<div class='card'>
    <div class='card-image'>
        <img alt='Book Cover 1' src='assets/book-cover-1.jpg'>
    </div>
    <div class='card-body'>
        <div class='card-title'>
            Title
        </div>
        <div class='card-subtitle'>
            Subtitle
        </div>
        <div class='price'>
            <p>$ 21.99</p>
        </div>
    </div>
    <div class='card-action'>
        <div class='book-rating'>
            <p>4.5 / 5</p>
        </div>
        <div class='card-action-list'>
            <span class='material-icons' id='open'>launch</span>
            &nbsp;
            <span class='material-icons' id='bag'>shopping_bag</span>
        </div>
    </div>
</div>
</body>
</html>
