.card{
  display: flex;
  position: relative;

  justify-content: start;
  align-items: flex-start;

  flex-flow: column;

  background: var(--background);

  width: 280px;
  height: calc(280px * 1.6);

  box-shadow: var(--0-4-16-black);

  border-radius: 10px;

  margin: 5vh 0;

  padding: 1em;
}

.card-image{
  display: flex;

  justify-content: center;
  align-items: center;

  width: 100%;
  height: 65%;

  img{
    height: 100%;
    width: auto;
  }
}

.card-body{
  display: flex;

  flex-flow: column;

  padding: 1em;
}

.card-title{
  font-size: 1.5em;
  font-weight: 700;
  color: var(--darktext);
}
.card-subtitle{
  font-size: 1.2em;
  font-weight: 500;
  color: var(--headings);
}
.price{
  font-size: 1.2em;
  font-weight: 900;
  margin-top: 20%;
}
.card-action{
  display: flex;
  position: absolute;

  bottom: 0;
  left: 0;

  width: 100%;
  height: fit-content;

  justify-content: space-between;
  align-items: center;

  padding: 0 1em 1em 2em;
}

.card-action > .card-action-list > span.material-icons{
  font-size: 1.5em;
  cursor: pointer;
}

#bag{
  color: var(--primary);
}

.book-rating > p{
    font-size: 1em;
}


