<div class='card'>
  <div class='card-image'>
    <img src = 'assets/book-cover-1.jpg' alt = 'Book Cover 1'>
  </div>
  <div class='card-body'>
    <div class='card-title'>
      Title
    </div>
    <div class='card-subtitle'>
      Subtitle
    </div>
    <div class = 'price'>
      <p>$ 21.99</p>
    </div>
  </div>
  <div class='card-action'>
    <div class = 'book-rating'>
      <p>4.5 / 5</p>
    </div>
    <div class='card-action-list'>
      <span id='open' class='material-icons'>launch</span>
      &nbsp;
      <span id='bag' class='material-icons'>shopping_bag</span>
    </div>
  </div>
</div>
