.body{
  position: relative;

  width: 50vw;
  height: fit-content;

}

.title{
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 0.2em;
}

.subtitle{
  font-size: 1.2em;
  font-weight: 700;
  color: var(--primary);
  text-decoration: underline;
}
