<div class="category">
  <div class="title">Category</div>
  <div class="list-item">
    <input id="all" type="checkbox" />
    <label for="all">All</label>
  </div>
  <div class="category-area">
    <div class="list-item">
      <div class="hor-line"></div>
      <input id="1" name="1" type="checkbox" /><label for="1">Category 1</label>
    </div>
    <div class="list-item">
      <div class="hor-line"></div>
      <input id="2" name="2" type="checkbox" /><label for="2">Category 2</label>
    </div>
    <div class="list-item">
      <div class="hor-line"></div>
      <input id="3" name="3" type="checkbox" /><label for="3">Category 3</label>
    </div>
    <div class="list-item">
      <div class="hor-line"></div>
      <input id="4" name="4" type="checkbox" /><label for="4">Category 4</label>
    </div>
  </div>
</div>
