.category{
  display: flex;
  position: absolute;

  top: 0;
  left: 0;

  justify-content: flex-start;
  align-items: flex-start;

  flex-flow: column;

  min-width: 10vw;

  background: var(--background);

  height: 100%;

  padding: 5vh 0;

}

.title{
  font-size: 1.5em;
  font-weight: 700;
  text-decoration: underline;

  margin: 2vh 3vw;
}

.list-item{
  display: flex;
  position: relative;

  margin: 1vh 3vw;

  label{
  margin-left: 16px;
  }

}

.category-area{
  margin: 0 1vw;
}

