<!doctype html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta
            content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0'
            name='viewport'>
    <meta content='ie=edge' http-equiv='X-UA-Compatible'>
    <link href='category.scss' rel='stylesheet'>
    <title>Category</title>
</head>
<body>
<div class='category'>
    <div class='title'>Category</div>
    <div class='list-item'>
        <input id='all' type='checkbox'>
        <label for='all'>All</label></div>
    <div class='category-area'>
        <div class='list-item'>
            <div class='hor-line'></div>
            <input id='1' name='1' type='checkbox'><label for='1'>Category 1</label></div>
        <div class='list-item'>
            <div class='hor-line'></div>
            <input id='2' name='2' type='checkbox'><label for='2'>Category 2</label></div>
        <div class='list-item'>
            <div class='hor-line'></div>
            <input id='3' name='3' type='checkbox'><label for='3'>Category 3</label></div>
        <div class='list-item'>
            <div class='hor-line'></div>
            <input id='4' name='4' type='checkbox'><label for='4'>Category 4</label></div>
        <div class='list-item'>
            <div class='hor-line'></div>
            <input id='5' name='5' type='checkbox'><label for='5'>Category 5</label></div>
        <div class='list-item'>
            <div class='hor-line'></div>
            <input id='6' name='6' type='checkbox'><label for='6'>Category 6</label></div>
        <div class='list-item'>
            <div class='hor-line'></div>
            <input id='7' name='7' type='checkbox'><label for='7'>Category 7</label></div>
        <div class='list-item'>
            <div class='hor-line'></div>
            <input id='8' name='8' type='checkbox'><label for='8'>Category 8</label></div>
        <!--    </div>-->
    </div>
</div>
</body>
</html>
