<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Order Details</title>
</head>
<body>
<div class='body'>
    <div class='title'>{{this.sectionTitle}}</div>
    <a class='remove-link'>Remove all items</a>
    <app-order-detail-item></app-order-detail-item>
    <app-order-detail-item></app-order-detail-item>
    <app-order-detail-item></app-order-detail-item>
</div>
</body>
</html>
