<div class = 'body'>
  <div class = 'section'>
    <div class = 'section-title'>Shipping Address</div>
    <div class = 'section-body'>
      <p class = 'address'>123 Playground Street</p>
      <p class = 'city'>Bussiness Park, LA, 123 456</p>
      <p class = 'country'>USA</p>
      <p class = 'phone'>Phone: +1-215-512-2525</p>
    </div>
  </div>
  <div class = 'section'>
    <div class = 'section-title'>Choose a payment method</div>
    <div class = 'section-body'>
      <p class = 'card'>
        <span class = 'material-icons'>payment</span>ending in 4848
      </p>
      <a href = '#'>Change payment method</a>
    </div>
  </div>
</div>
