<nav>
  <div class='navbar'>
    <div id = 'logo'><img src = 'assets/logo-red-bg.png' alt = 'Red Logo'></div>
    <fieldset>
      <input type = 'text' id='book' placeholder='Explore our catalogue...'>
      <span class="material-icons">search</span>
    </fieldset>
    <div class='options-area'>
      <div class = 'cart-btn'>
        <span class="material-icons">shopping_cart
        <span class='badge'>2</span>
        </span>
      </div>
      <span class='center-line'></span>
      <div class = 'logout-btn'>
        <span class="material-icons">logout</span>
      </div>
    </div>
  </div>
</nav>
