<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="navbar.scss">
    <link rel="stylesheet" href="../../styles.scss">
    <title>Navbar</title>
</head>
<body>
<nav>
    <div class='navbar'>
        <div id='logo'><img alt='Red Logo' src='/assets/logo-red-bg.png'></div>
        <fieldset>
            <input id='book' placeholder='Explore our catalogue...' type='text'>
            <span class="material-icons">search</span>
        </fieldset>
        <div class='options-area'>
            <div class='cart-btn'>
        <span class="material-icons">shopping_cart
        <span class='badge'>2</span>
        </span>
            </div>
            <span class='center-line'></span>
            <div class='logout-btn'>
                <span class="material-icons">logout</span>
            </div>
        </div>
    </div>
</nav>
</body>
</html>