<nav>
  <div class="navbar">
    <div id="logo"><img alt="Red Logo" src="/assets/logo-red-bg.png" /></div>
    <fieldset>
      <input id="book" placeholder="Explore our catalogue..." type="text" />
      <span class="material-icons">search</span>
    </fieldset>
    <div class="options-area">
      <div class="cart-btn">
        <span class="material-icons"
          >shopping_cart
          <span class="badge">2</span>
        </span>
      </div>
      <span class="center-line"></span>
      <div class="logout-btn">
        <span class="material-icons">logout</span>
      </div>
    </div>
  </div>
</nav>
