nav {
  display: flex;
  position: relative;

  width: 100%;
  height: 10vh;

  background-color: var(--primary);
}

.navbar {
  position: relative;
  display: flex;

  width: 80%;
  height: 100%;

  margin-left: 10%;

  background: transparent;

  align-items: center;
  justify-content: space-between;
}

.options-area {
  display: flex;
  position: relative;

  justify-content: space-between;
  align-items: center;

  width: 120px;
  height: 70%;

  padding: 16px;

  background: var(--primary);
  box-shadow: var(--0-4-16-red);

  border-radius: 10px;

  span.material-icons {
    position: relative;
    color: white;
    font-size: 1.7em;
    font-weight: 500;

    cursor: pointer;
    user-select: none;

    z-index: 2;
  }

  span.material-icons > .badge{
    position: absolute;
    display: flex;

    top: -30%;
    right: -50%;

    justify-content: center;
    align-items: center;

    font-size: 12px;
    font-weight: bold;

    height: 20px;
    width: 20px;

    padding: 2px;

    background: var(--warning);
    color: var(--darktext);

    border-radius: 50%;
    z-index: 1;

    box-shadow: var(--0-4-16-black);
  }



}


#logo {
  display: flex;
  position: relative;

  justify-content: center;
  align-items: center;

  width: auto;
  height: 100%;

  img {
    width: auto;
    height: 100%;

    cursor: pointer;
  }
}
