<div class = 'card'>
  <div class = 'card-title'>
    <b>Order Summary</b>
  </div>
  <div class = 'card-body'>
    <div class = 'card-list'>
      <div class = 'card-list-item'>
        <span>4 Items</span><span id='price' class='values'>$ 131.93</span>
      </div>
      <div class = 'card-list-item'>
        <span>Shipping</span><span id='shipping' class='values'>$ 0.00</span>
      </div>
      <div class='list-partition'></div>
      <div class = 'card-list-item'>
        <span id='tax_text'>Total before taxes</span><span id='bTaxes' class='values'>$ 131.93</span>
      </div>
      <div class = 'card-list-item'>
        <span>Est. GST/HST</span><span id='gst' class='values'>$ 17.15</span>
      </div>
      <div class = 'card-list-item'>
        <span>Est. PST/QST</span><span id='pst' class='values'>$ 0.00</span>
      </div>
      <div class='list-partition'></div>
      <div class = 'card-list-item' id='order-total'>
        <span>Order Total</span><span id='total' class='values'>$ 149.08</span>
      </div>
    </div>
  </div>
  <button class = 'button button-primary'>Proceed to checkout</button>
</div>

