<div class="review">
  <div class="review-header">
    <div class="review-title">
      <h1>Great Review</h1>
    </div>
    <div class="review-subtitle">
      <span class="name">Olya Polyanowski</span>
      <span class="rating">4.5 / 5</span>
    </div>
  </div>
  <div class="review-body">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Tellus cras
    adipiscing enim eu turpis egestas pretium. Velit laoreet id donec
    ultrices tincidunt arcu non sodales neque. Ullamcorper dignissim cras
    tincidunt lobortis feugiat. Lobortis elementum nibh tellus molestie
    nunc. Faucibus nisl tincidunt eget nullam non nisi est. Laoreet
    suspendisse interdum consectetur libero id faucibus.
  </div>
</div>
