<div class="add-info">
  <div class="input-area">
    <div class="title">Shipping Address</div>
    <fieldset id="ad_field">
      <label for="addressLine">Address</label>
      <input
        id="addressLine"
        name="addressLine"
        placeholder="Enter your address"
        type="text"
      />
    </fieldset>
    <div class="city">
      <fieldset id="city_field">
        <label for="city">City</label>
        <input id="city" name="city" placeholder="Sand City" type="text" />
      </fieldset>
      <fieldset id="st_field">
        <label for="state">State</label>
        <input id="state" name="state" placeholder="Arizona" type="text" />
      </fieldset>
      <fieldset id="con_field">
        <label for="country">Country</label>
        <input id="country" name="country" placeholder="USA" type="text" />
      </fieldset>
    </div>
    <fieldset id="zip_field">
      <label for="zip">ZIP</label>
      <input id="zip" name="zip" placeholder="123 456" type="text" />
    </fieldset>
    <fieldset id="phone_field">
      <label for="phone">Phone</label>
      <input
        id="phone"
        name="phone"
        placeholder="+1-123-456-7890"
        type="text"
      />
    </fieldset>
    <div class="title">Add a Payment Method</div>
    <fieldset id="card_field">
      <label for="card">Card Number</label>
      <input id="card" name="card" placeholder="1212 3434 5656" type="text" />
    </fieldset>
    <div class="card-detail">
      <fieldset id="cvs_field">
        <label for="cvs">CVS</label>
        <input id="cvs" name="cvs" placeholder="789" type="number" />
      </fieldset>
      <fieldset id="exp_field">
        <label for="expiry">Expiry Date</label>
        <input id="expiry" name="expiry" placeholder="12/12/2020" type="date" />
      </fieldset>
    </div>
  </div>
  <app-order-total></app-order-total>
</div>
