<div class = 'body'>
  <div class = 'input-area'>
    <div class = 'title'>Shipping Address</div>
    <fieldset id = 'ad_field'>
      <label for = 'addressLine'>Address</label>
      <input type = 'text' id = 'addressLine' name = 'addressLine' placeholder = 'Enter your address'>
    </fieldset>
    <div class = 'city'>
      <fieldset id = 'city_field'>
        <label for = 'city'>City</label>
        <input type = 'text' id = 'city' name = 'city' placeholder = 'Sand City'>
      </fieldset>
      <fieldset id = 'st_field'>
        <label for = 'state'>State</label>
        <input type = 'text' id = 'state' name = 'state' placeholder = 'Arizona'>
      </fieldset>
      <fieldset id = 'con_field'>
        <label for = 'country'>Country</label>
        <input type = 'text' id = 'country' name = 'country' placeholder = 'USA'>
      </fieldset>
    </div>
    <fieldset id = 'zip_field'>
      <label for = 'zip'>ZIP</label>
      <input type = 'text' id = 'zip' name = 'zip' placeholder = '123 456'>
    </fieldset>
    <fieldset id = 'phone_field'>
      <label for = 'phone'>Phone</label>
      <input type = 'text' id = 'phone' name = 'phone' placeholder = '+1-123-456-7890'>
    </fieldset>
    <div class = 'title'>Add a Payment Method</div>
    <fieldset id = 'card_field'>
      <label for = 'card'>Card Number</label>
      <input type = 'text' id = 'card' name = 'card' placeholder = '1212 3434 5656'>
    </fieldset>
    <div class='card-detail'>
      <fieldset id = 'cvs_field'>
        <label for = 'cvs'>CVS</label>
        <input type = 'number' id = 'cvs' name = 'cvs' placeholder = '789'>
      </fieldset>
      <fieldset id = 'exp_field'>
        <label for = 'expiry'>Expiry Date</label>
        <input type = 'date' id = 'expiry' name = 'expiry' placeholder = '12/12/2020'>
      </fieldset>
    </div>
  </div>
  <app-order-total></app-order-total>
</div>
