<div class='body'>
<div class = 'list-partition'></div>
<div class = 'order-item'>
  <div class = 'item-image'>
    <img src = 'assets/book-cover-16.jpg' alt = 'Book Cover 6'>
  </div>
  <div class = 'item-body'>
    <div class = 'item-header'>
      <div class = 'item-title'>The Outsider</div>
      <p>Paperback</p>
      <span><span class = 'material-icons'>bookmark</span>
        Backed by Safety ++.
          </span>
    </div>
    <div class = 'item-details'>
      <div class = 'quantity'>
        Qty:&nbsp;
        <input type = 'number' min = '1' max = '10' placeholder = '1' name = 'qty'>
        &nbsp;&nbsp;<span class = 'add-sub'>
            <button class = 'button'><span class = 'material-icons add-item'>expand_less</span></button>
            <span class = 'center-line'></span>
            <button class = 'button'><span class = 'material-icons sub-item'>expand_more</span></button>
          </span>
      </div>
      <div class = 'price'>
        Price: <span class = 'pvalue'>$ 12.99</span>
      </div>
    </div>
  </div>
</div>
</div>
