.book-card {
  position: relative;
  display: flex;

  align-items: flex-start;
  flex-flow: column;

  justify-content: start;

  width: 240px;

  height: calc(240px * 1.6);
  margin: 5vh 0;

  padding: 1em;

  border-radius: 10px;

  background: var(--background);

  box-shadow: var(--z-4-16-black);
}

.card-body {
  display: flex;

  flex-flow: column;

  padding: 0.5em;
}

.card-title {
  font-size: 1.5em;
  font-weight: 700;
  color: var(--darktext);
}

.card-subtitle {
  font-size: 1.2em;
  font-weight: 500;
  color: var(--headings);
}

.price {
  font-size: 1.3em;
  font-weight: 700;
}

.card-action {
  position: absolute;

  bottom: 0;
  left: 0;

  display: flex;

  width: 100%;
  height: fit-content;

  padding: 0 0.5em 0.5em;

  justify-content: flex-end;

  gap: 0.5em;

}

#open, #cart {
  color: black;
  cursor: pointer;
}

#cart {
  color: var(--success)
}

.book-rating > p {
  font-size: 1em;
}

.card-image {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 100%;
  height: 50%;

}

img {
  width: auto;
  height: 100%;
}
